interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.foia.gov/data.html
  response:
    body: {string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.1//EN\" \"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd\"\
        >\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\">\n<head>\n\
        <meta http-equiv=\"cache-control\" content=\"no-cache\" />\n<meta http-equiv=\"\
        PRAGMA\" content=\"NO-CACHE\" />\n<meta http-equiv=\"X-UA-Compatible\" content=\"\
        IE=7\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"foia-style.css\"\
        \ />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"reports.css\" />\n\
        <style>\n/*Change class to Indicate Current Active Page*/\n#tabnav li a.data\
        \ {background: url(images/tab-data_on.png) 0 0 no-repeat; color: #121b26;\
        \ }\n/*qTip*/\n.qtip .qtip-content{\n   padding: 15px;\n   overflow: hidden;\n\
        }\n.qtip .qtip-content .qtip-title,.qtip-cream .qtip-content .qtip-title{background-color:\
        \ #f8f8f8;}\n</style>\n<script type=\"text/javascript\" src=\"qtip/jquery-1.3.2.min.js\"\
        ></script>\n<!-- script type=\"text/javascript\" src=\"jquery-1.9.1.min.js\"\
        ></script -->\n<script type=\"text/javascript\" src=\"qtip/jquery.qtip-1.0.0-rc3.min.js\"\
        ></script>\n<!-- script type=\"text/javascript\" src=\"qtip/jquery.qtip.min.js\"\
        ></script -->\n<script type=\"text/javascript\" src=\"foiaFunctions.js\"></script>\n\
        <script type=\"text/javascript\" src=\"agencyWork.js\"></script>\n<script\
        \ type=\"text/javascript\" src=\"foiareport.js\"></script>\n<script type=\"\
        text/javascript\" src=\"FusionCharts.js\"></script>\n<script type=\"text/javascript\"\
        \ src=\"foiaAjax.js\"></script>\n<script type=\"text/javascript\" src=\"tablehover.js\"\
        ></script>\n<title>FOIA.gov - Freedom of Information Act: Data</title>\n</head>\n\
        <body>\n\n<!-- Start FOIA Template -->\n<div id=\"background\">\n<div id=\"\
        container\">\n<!-- Start Header -->\n<script type=\"text/javascript\" src=\"\
        /scripts/federated-analytics.js\"></script>\r\n<script type=\"text/javascript\"\
        \ src=\"/scripts/breakout.js\"></script>\r\n<div id=\"header\">\r\n  <div\
        \ class=\"skip\"><a href=\"#mainContent\">Skip to Main Content</a>|<a href=\"\
        #footerLinks\">Skip to Footer</a></div>\r\n  <div id=\"doj\"><img src=\"/images/doj-top-logo.jpg\"\
        \ alt=\"United States Department of Justice\" width=\"360\" height=\"35\"\
        \ class=\"headerDOJ\" /></div>\r\n  <div id=\"headNav\">\r\n    <div><a href=\"\
        /index.html\"><img src=\"/images/foia-title-final.jpg\" alt=\"Foia.gov\" width=\"\
        330\" height=\"80\" class=\"foiaTitle\" /></a></div>\r\n    <div class=\"\
        right\">\r\n      <ul>\r\n        <li><a href=\"/news.html\">News</a></li>\r\
        \n\t\t<li><a href=\"/glossary.html\">Glossary</a></li>\r\n\t\t<li><a href=\"\
        /faq.html\">FAQs</a></li>\r\n\t\t<li><a href=\"/index-es.html\">en Espa&ntilde;ol</a></li>\r\
        \n        <li><a href=\"/feedback.html\">Feedback</a></li>\r\n\t\t<li><a href=\"\
        /report-makerequest.html\">FOIA Contacts</a></li>\r\n      </ul>\r\n    </div>\r\
        \n  </div>\r\n  <div class=\"clear\"></div>\r\n  <div id=\"tabs\">\r\n   \
        \ <div id=\"tabnav\">\r\n      <ul>\r\n       <li><a href=\"/index.html\"\
        \ class=\"home\"><p>Home</p></a></li>\r\n       <li><a href=\"/data.html\"\
        \ class=\"data\"><p>Data</p></a></li>\r\n       <li><a href=\"/reports.html\"\
        \ class=\"reports\"><p>Reports</p></a></li>\r\n\t   <li><a href=\"http://search.usa.gov/search?affiliate=foia.gov\"\
        \ class=\"find\"><p>Find</p></a></li>\r\n       <li><a href=\"/about.html\"\
        \ class=\"about\"><p>Learn</p></a></li>\r\n      </ul>\r\n    </div>\r\n \
        \   <!--<div id=\"requestbutton\"><a href=\"/make-request.html\"><span>How\
        \ to Make a FOIA Request</span></a></div>-->\r\n\t<a href=\"mainContent\"\
        \ id=\"mainContent\"></a>\r\n  </div>\r\n</div>\n<!-- End Header -->\n\n<!--\
        \ Start Main Page -->\n<div id=\"main\">\n<!-- Start Content -->\n<div id=\"\
        content\">\n  <div id=\"dataTable\">\n    <div class=\"topWindow\" >\n   \
        \ <!-- Create Report Box -->\n    <div id=\"createReport\">\n\t<div id=\"\
        basicSearch\" style=\"display:block;\">\n      <div style=\"margin: 0 0 30px\
        \ 0; font: bold italic 11px Calibri, Arial, Helvetica, sans-serif;\">\n  \
        \    <img src=\"images/create-report-title.gif\" style=\"margin: 0 45px 0\
        \ 0;\" alt=\"Create Basic Report\" /><h1 style=\"display:none;\">Create A\
        \ Basic Report</h1>\n      <div style=\"float:right; margin: 0;\"><!-- a href=\"\
        #\" class=\"foiaBasicSearchText\" title=\"Learn how to make a Basic Report\
        \ on FOIA.gov\" style=\"margin: 0 15px 0 0;\"><img src=\"images/question-icon.gif\"\
        \ alt=\"Question Mark Icon\" style=\"margin: 0 5px 0 0;\" />Basic Report Information</a\
        \ --><a href=\"javascript:toggleAdvanceSearch();\" class=\"swBasicSearch\"\
        \ title=\"Toggle the Advanced Report\"><img src=\"images/gear-icon.gif\" style=\"\
        margin: 0 5px 0 0;\" alt=\"Gear Icon\" />Create an Advanced Report</a></div>\n\
        \      <div class=\"clear\"></div>\n      <div id=\"csvprint\" style=\"float:right;\
        \ margin: 30px 0 0 0; display:none;\">\n      <div style=\"float: left; margin:\
        \ -15px 10px 0 0;\">\n\t  <a title=\"Lorem ipsum dolor sit amet. Quis custodiet\
        \ ipsos custodes?\" href=\"#\"><img style=\"float: left; margin: 12px 0pt\
        \ 0pt 5px;\" src=\"images/question-icon.gif\" alt=\"question\"></a>\n\t  <a\
        \ title=\"Click here to launch a FOIA.gov Help Video on this topic.\" href=\"\
        #\"><img style=\"float: left; margin: 12px 0px 0pt 16px;\" src=\"images/video-icon.gif\"\
        \ alt=\"video\"></a></div>\n      <div id=\"csvbutton\" class=\"csvbutton\"\
        ><a href=\"foia/FoiaDownload\" class=\"csvbutton\"><span>CSV</span></a></div>\n\
        \      <div id=\"printbutton\" class=\"printbutton\">&nbsp;&nbsp;&nbsp;&nbsp;<a\
        \ href=\"javascript:openPop('foia/FoiaPrint.jsp','_blank');\"><img src=\"\
        images/printer-friendly-icon.gif\" alt=\"Printer-Friendly Version\" /></a></div>\n\
        \      </div>\n      </div>\n      <div class=\"reportText\">\n        <p><strong>Instructions:</strong>\
        \ You can   explore the FOIA data that makes up an agency&rsquo;s annual FOIA\
        \ report.   Search for data from a single agency or compare data from multiple\
        \   agencies. Just follow these steps:</p>\n        <ol>\n          <li>At\
        \   the &ldquo;Select Report&rdquo; column, click on a category, such as &ldquo;Requests&rdquo;\
        \ or   &ldquo;Administration&rdquo;&nbsp; to select the type of report you\
        \ would like to run.   Learn more about these categories in the<a href=\"\
        glossary.html\">Glossary</a>. </li>\n          <li>Use   the (+) or (-) signs\
        \ appearing next to the text box to select the   agency/agencies you want\
        \ to look up, selecting up to four at a time. </li>\n          <li>Choose\
        \ the year you would like to see data from. </li>\n          <li>Click &ldquo;Create\
        \ Report.&rdquo;&nbsp; Scroll down to see your customized report. </li>\n\
        \        </ol>\n        <p>For help interpreting a report, scroll over the\
        \ <img src=\"images/question-icon.gif\" alt=\"Question Mark Icon\" style=\"\
        margin: 0 3px;\" /> icon.</p>\n      </div>\n    <label for=\"selectReport\"\
        >To begin your FOIA.gov report, please select a Report Category from the following\
        \ list of categories in the \"Select Report\" menu.</label>\n    <div id=\"\
        selectReport\">\n    <h2>1. Select Report</h2>\n    <label for=\"reportRequests\"\
        >Select Report Category: Requests</label>\n    <ul>\n     <li><a href=\"javascript:resetReportSelect('reportRequests');\"\
        \ id=\"reportRequests\" title=\"Select Report Category: Requests\">Requests</a>\n\
        \     <div class=\"menu\">\n     <label for=\"requestDisposition\">Select\
        \ Report Category: Requests - Disposition</label>\n     <label for=\"reportFeeWaiver\"\
        >Select Report Category: Requests[...]
